/* General styles for the whole page */
h1 {
  font-size: 6.25rem;
  font-family: "DM Sans", sans-serif;
  font-weight: bold;
  color: white;
}

h2 {
  font-size: 6rem;
  font-family: "DM Sans", sans-serif;
  font-weight: bold;
  margin-top: 2.5rem;
}

h3 {
  font-size: 3rem;
  font-family: "DM Sans", sans-serif;
  font-weight: medium;
}

h4 {
  font-size: 2rem;
  font-family: "DM Sans", sans-serif;
  font-weight: medium;
}

body {
  font-size: 1.25rem;
  font-family: "Inter", sans-serif;
  font-weight: normal;
  margin: 0px;
  background-color: #f9f9fd;
}

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) {
  h1,
  h2 {
    font-size: 3.5rem;
  }
}
/* Mobile Styling */
@media only screen and (max-width: 812px) {
  body {
    font-size: 0.9rem;
    word-break: break-word;
  }

  h1,
  h2 {
    font-size: 2.5rem;
  }

  h3,
  h4 {
    font-size: 1.5rem;
  }

  body .section-5 {
    background-image: url(bilder/UI-mobile.png);
  }
  body .section-1 {
    background-image: url(bilder/mobile-landing.png);
  }

  .section-3,
  .flex-container,
  .flex-row {
    flex-direction: column;
  }

  body .flex-container {
    row-gap: 2rem;
  }
  body #container-flex {
    padding-left: 0rem;
  }

  body .section-2 {
    padding: 3rem;
  }

  body .flex-row {
    row-gap: 1.5rem;
  }
  body #logo {
    padding-left: 7rem;
  }

  #mobile {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(bilder/vorteile/vorteil-mobile.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  body #text {
    position: absolute;
    bottom: 30rem;
  }

  body .card {
    width: 20rem;
    height: 18rem;
  }

  .card #auge {
    padding-top: 0rem;
    width: 30%;
  }

  .card #nase {
    padding-top: 0rem;
    width: 20%;
  }

  .card #ohr {
    padding-top: 0rem;
    width: 20%;
  }

  body .section-3 {
    row-gap: 2rem;
  }

  .card .img-container {
    margin-top: 1.5rem;
  }
  .section-3 #card-middle {
    height: 22rem;
    width: 22rem;
  }

  body .content-container {
    padding-left: 3rem;
  }

  body .content-container p {
    width: 100%;
  }

  body .indent {
    padding-left: 0rem;
  }

  body .section-5 {
    padding-left: 3rem;
  }

  .section-5 #indent {
    width: 100%;
    padding-left: 0rem;
  }

  body .section-5 p {
    padding-right: 0rem;
  }

  body .flex-small-container {
    align-items: center;
  }
}

/* Section 1 */
.section-1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(bilder/landing.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  height: 100vh;
}

#text {
  padding: 3rem;
  position: absolute;
  bottom: 0px;
  padding-bottom: 0.5rem;
}

#logo {
  align-self: flex-start;
  padding: 3rem;
}

#container-flex {
  padding-left: 4rem;
}

/* Section 2 */
.section-2 {
  padding: 3rem;
  padding-left: 7rem;
  padding-right: 0rem;
  height: 100vh;
}

.section-2 h3 {
  color: #8c36f7;
  margin-top: 0px;
  margin-bottom: 0px;
}

.flex-container {
  display: flex;
  column-gap: 10rem;
}

.flex-small-container {
  display: flex;
  flex-basis: 100%;
  flex-direction: column;
  justify-content: center;
  row-gap: 1rem;
}
#chip-img {
  width: 50%;
}

.flex-row {
  display: flex;
  column-gap: 5rem;
  flex-basis: 100%;
}

.flex-column {
  flex-basis: 100%;
}

/* Section 3 */
.section-3 {
  background-color: black;
  display: flex;
  column-gap: 5rem;
  padding: 3rem;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.card {
  background-color: #161616;
  width: 23.5rem;
  height: 33rem;
  color: white;
  border-radius: 2rem;
}

.card h3 {
  color: #8c36f7;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.container {
  padding: 2rem;
  padding-top: 0.5rem;
}

#card-middle {
  height: 37.5rem;
  border: solid;
  border-width: 2px;
  border-color: #8c36f7;
}

#nase {
  width: 40%;
}

#ohr {
  width: 28%;
}

#auge {
  width: 40%;
  padding-top: 3rem;
}

.img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2.5rem;
}

.img-container img {
  margin-left: auto;
  margin-right: auto;
}

/* Section 4 */
.slides {
  display: flex;
  flex-direction: column;
}

.slide {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100vh;
}

.slide-1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(bilder/funktionen/Funktion_1.png);
}

.slide-2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(bilder/funktionen/Funktion_2.png);
}

.slide-4 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(bilder/funktionen/Funktion_4.png);
}

.content-container {
  padding: 3rem;
  padding-left: 7rem;
}

.content-container p {
  width: 35%;
}

/* Section 5 */
.section-5 {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.2),
      rgba(255, 255, 255, 0.2)
    ),
    url(bilder/UI.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  padding: 3rem;
  padding-left: 7rem;
}

.section-5 p {
  padding-right: 7rem;
}

#indent {
  width: 35%;
  padding-left: 3rem;
}

/* Section 6 */
.slide-5 {
  background-image: url(bilder/vorteile/vorteil_1.png);
}

.slide-6 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(bilder/vorteile/Vorteil_2.png);
}

.slide-7 {
  background-image: url(bilder/vorteile/vorteil_3.png);
}

.indent {
  padding-left: 3rem;
  margin-bottom: 5rem;
}
